<div class="container">
  <div class="row-fluid">
    <!-- main span -->
      <div class="page-header">
        <h1> 東京Ruby会議10 参加コミュニティー</h1>
      </div>
      <h2>東京Ruby会議10 の参加コミュニティ一覧です。</h2>

      <ul>
        <% @communities.each do |c| %>
          <li><a data-toggle="modal" href='#<%= c.id %>'><%= c.name %></a></li>
        <% end %>
      </ul>
      <h2>参加特典</h2>
      <ul>
        <li>東京Ruby会議10 Webサイトで、コミュニティ情報を掲載します</li>
        <li>当日に設けるコミュニティ紹介時間で、コミュニティアピールができます</li>
      </ul>
      <h2>参加コミュニティ申し込み方法</h2>
      参加コミュニティは、現在も募集中です。詳しくは、<a href="http://rubykaigi.tdiary.net/20120810.html#p01">こちら</a>をご覧ください。
      <br>
      <br>
      <h2>募集趣旨</h2>
      <p>たのしい開発 スタートアップRubyというRubyの書籍でもコミュニティについてのチャプターがあるように、今日、Rubyに触れていく中でコミュニティ活動はいいプラクティスとなっています。</p>
      <p>コミュニティにはそれぞれ特徴があります。その良さや素晴らしさはそのコミュニティの人の文章や言葉で発信してもらうのが、コミュニティを知ってもらう近道です。 そういうコミュニティの活動について、もっと広く深くみんなに知ってもらって、Rubyの活性化を加速させることができればと考えています。</p>
      <p>この東京Ruby会議10では、Rubyに興味がある人が多く集います。 そこで、コミュニティとして東京Ruby会議10に参加いただいて、参加者にアピールしたりコミュニケーションをとったりしていただければ、コミュニティ活動に参加する新しい仲間がもっと増えるのではないかと思いました。</p>
      <p> 是非多くのコミュニティの東京Ruby会議10へのご参加をお待ちしています。</p>

      <!-- 本文はここまで -->

      <% @communities.each do |c| %>
        <div class="modal hide fade" id='<%= c.id%>' tabindex="-1" role="dialog" ariahidden="true" aria-labelledby="<%= c.id %>ModalLabel">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 id="<%= c.id %>ModalLabel"><%= c.name %></h3>
          </div>
          <div class="modal-body">
            <%= c.description %>
          </div>
        </div>
      <% end %>
  </div>
</div>
