<div class="container">
  <div class="row-fluid">
    <dl>
      <dt>名前</dt><dd><%= @speaker.name %></dd>
      <% if @speaker.twitter.present? %>
        <dt>Twitter</dt><dd><a href="http://twitter.com/<%= @speaker.twitter %>"><%= @speaker.twitter %></a></dd>
      <% end %>
      <% if @speaker.url.present? %>
        <dt>URL</dt><dd><a href="<%= @speaker.url %>"><%= @speaker.url %></a></dd>
      <% end %>
      <dt>所属</dt><dd><%= @speaker.org %></dd>
      <dt>発表タイトル</dt><dd><%= @speaker.title %></dd>
      <dt>発表概要</dt><dd><%= @speaker.desc %></dd>
      <% if @speaker.comment.present? %>
        <dt>参加者に向けて一言</dt><dd><%= @speaker.comment %></dd>
      <% end %>
    </dl>
  </div>
</div>
