<div class="container">
  <div class="row-fluid">
    <div class="page-header">
      <h1>タイムテーブル</h1>
    </div>

    <% ["1月13日（日）", "1月14日（月・祝）"].each_with_index do |day, i| %>
      <h2><%= day %></h2>

      <table class="timetable table table-condensed table-striped table-bordered">
        <tr>
          <th class="time"></th>
          <th class="content">メインホール</th>
          <th class="workshop">ワークショップ</th>
        </tr>
        <% @sessions[i].each do |session| %>
          <tr>
            <td class="time"><%= session.time %></td>
            <td class="content">
              <% if session.speaker %>
                <div class="name">
                  <%= session.speaker.name %>
                  <% if session.invited %>
                    <span class="invited">招待</span>
                  <% end %>
                  <% if session.video %>
                    <span class="video">ビデオ</span>
                  <% end %>
                </div>
                <div class="title"><a href="/speakers/<%= session.speaker_id %>"><%= session.title %></a></div>
              <% else %>
                <div class="title"><%= session.title %></div>
              <% end %>
            </td>
            <% if session.workshop_sessions %>
              <td class="workshop" rowspan="<%= session.workshop_sessions %>">
                <div class="name"><%= session.workshop_name %></div>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>
